In [60]:
#importing libraries
from datetime import date, datetime, timedelta as td
import pandas as pd
import numpy as np
import pytz
import matplotlib.pyplot as plt
%matplotlib inline

In [61]:
#data used
steps = pd.read_csv("/kaggle/input/apple-health-dataa/StepCount.csv")
sleep = pd.read_csv("/kaggle/input/apple-health-dataa/SleepAnalysis.csv")
walking_speed = pd.read_csv("/kaggle/input/apple-health-dataa/WalkingSpeed.csv")
energy_burnt = pd.read_csv("/kaggle/input/apple-health-dataa/ActiveEnergyBurned.csv")
dist_walk_run = pd.read_csv("/kaggle/input/apple-health-dataa/DistanceWalkingRunning.csv")

In [62]:
steps.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
0,Cigaro,16.0,"<<HKDevice: 0x2838a62b0>, name:iPhone, manufac...",StepCount,count,2022-09-20 20:12:20 +0100,2022-09-20 20:01:17 +0100,2022-09-20 20:01:20 +0100,8
1,Cigaro,16.0,"<<HKDevice: 0x2838a62b0>, name:iPhone, manufac...",StepCount,count,2022-09-20 20:25:13 +0100,2022-09-20 20:14:29 +0100,2022-09-20 20:17:10 +0100,37
2,Cigaro,16.0,"<<HKDevice: 0x2838a62b0>, name:iPhone, manufac...",StepCount,count,2022-09-20 20:48:00 +0100,2022-09-20 20:37:55 +0100,2022-09-20 20:38:38 +0100,28
3,Cigaro,16.0,"<<HKDevice: 0x2838a62b0>, name:iPhone, manufac...",StepCount,count,2022-09-21 01:50:11 +0100,2022-09-21 01:39:08 +0100,2022-09-21 01:39:11 +0100,18
4,Cigaro,16.0,"<<HKDevice: 0x2838a62b0>, name:iPhone, manufac...",StepCount,count,2022-09-21 02:04:06 +0100,2022-09-21 01:53:03 +0100,2022-09-21 01:53:06 +0100,4

In [63]:
steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8547 entries, 0 to 8546
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sourceName     8547 non-null   object
 1   sourceVersion  8547 non-null   object
 2   device         8547 non-null   object
 3   type           8547 non-null   object
 4   unit           8547 non-null   object
 5   creationDate   8547 non-null   object
 6   startDate      8547 non-null   object
 7   endDate        8547 non-null   object
 8   value          8547 non-null   int64
dtypes: int64(1), object(8)
memory usage: 601.1+ KB

In [64]:
steps.isna().sum()

sourceName       0
sourceVersion    0
device           0
type             0
unit             0
creationDate     0
startDate        0
endDate          0
value            0
dtype: int64

In [65]:
steps = steps.drop(["sourceName", "device", "type", "unit"], axis = 1)
steps.head()

,sourceVersion,creationDate,startDate,endDate,value
0,16.0,2022-09-20 20:12:20 +0100,2022-09-20 20:01:17 +0100,2022-09-20 20:01:20 +0100,8
1,16.0,2022-09-20 20:25:13 +0100,2022-09-20 20:14:29 +0100,2022-09-20 20:17:10 +0100,37
2,16.0,2022-09-20 20:48:00 +0100,2022-09-20 20:37:55 +0100,2022-09-20 20:38:38 +0100,28
3,16.0,2022-09-21 01:50:11 +0100,2022-09-21 01:39:08 +0100,2022-09-21 01:39:11 +0100,18
4,16.0,2022-09-21 02:04:06 +0100,2022-09-21 01:53:03 +0100,2022-09-21 01:53:06 +0100,4

In [66]:
sleep.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
0,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 03:25:41 +0100,2022-09-21 03:34:43 +0100,HKCategoryValueSleepAnalysisInBed
1,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 03:48:59 +0100,2022-09-21 03:51:04 +0100,HKCategoryValueSleepAnalysisInBed
2,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 03:58:58 +0100,2022-09-21 04:00:26 +0100,HKCategoryValueSleepAnalysisInBed
3,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 04:01:43 +0100,2022-09-21 04:02:05 +0100,HKCategoryValueSleepAnalysisInBed
4,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 04:06:14 +0100,2022-09-21 04:09:38 +0100,HKCategoryValueSleepAnalysisInBed

In [67]:
sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sourceName     809 non-null    object
 1   sourceVersion  809 non-null    float64
 2   device         0 non-null      float64
 3   type           809 non-null    object
 4   unit           0 non-null      float64
 5   creationDate   809 non-null    object
 6   startDate      809 non-null    object
 7   endDate        809 non-null    object
 8   value          809 non-null    object
dtypes: float64(3), object(6)
memory usage: 57.0+ KB

In [68]:
sleep.isna().sum()

sourceName         0
sourceVersion      0
device           809
type               0
unit             809
creationDate       0
startDate          0
endDate            0
value              0
dtype: int64

In [69]:
#for walking_speed
walking_speed.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
0,Cigaro,16.0,"<<HKDevice: 0x28384b340>, name:iPhone, manufac...",WalkingSpeed,km/hr,2022-09-21 06:22:37 +0100,2022-09-21 06:10:22 +0100,2022-09-21 06:10:26 +0100,4.284
1,Cigaro,16.0,"<<HKDevice: 0x28384b340>, name:iPhone, manufac...",WalkingSpeed,km/hr,2022-09-22 15:57:01 +0100,2022-09-22 15:47:01 +0100,2022-09-22 15:47:08 +0100,3.024
2,Cigaro,16.0,"<<HKDevice: 0x28384b340>, name:iPhone, manufac...",WalkingSpeed,km/hr,2022-09-23 19:20:15 +0100,2022-09-23 19:06:10 +0100,2022-09-23 19:06:13 +0100,5.760
3,Cigaro,16.0,"<<HKDevice: 0x28384b340>, name:iPhone, manufac...",WalkingSpeed,km/hr,2022-09-23 19:20:15 +0100,2022-09-23 19:06:55 +0100,2022-09-23 19:07:04 +0100,5.256
4,Cigaro,16.0,"<<HKDevice: 0x28384b340>, name:iPhone, manufac...",WalkingSpeed,km/hr,2022-09-24 12:42:17 +0100,2022-09-24 12:11:36 +0100,2022-09-24 12:11:39 +0100,4.248

In [70]:
walking_speed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5359 entries, 0 to 5358
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sourceName     5359 non-null   object
 1   sourceVersion  5359 non-null   float64
 2   device         5359 non-null   object
 3   type           5359 non-null   object
 4   unit           5359 non-null   object
 5   creationDate   5359 non-null   object
 6   startDate      5359 non-null   object
 7   endDate        5359 non-null   object
 8   value          5359 non-null   float64
dtypes: float64(2), object(7)
memory usage: 376.9+ KB

In [71]:
walking_speed.isna().sum()

sourceName       0
sourceVersion    0
device           0
type             0
unit             0
creationDate     0
startDate        0
endDate          0
value            0
dtype: int64

In [72]:
#for energy_burnt
energy_burnt.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
0,Cigaro,16.0,"<<HKDevice: 0x2838cf520>, name:iPhone, manufac...",ActiveEnergyBurned,kcal,2022-09-20 19:50:27 +0100,2022-09-20 18:48:51 +0100,2022-09-20 18:49:01 +0100,0.059
1,Cigaro,16.0,"<<HKDevice: 0x2838cf520>, name:iPhone, manufac...",ActiveEnergyBurned,kcal,2022-09-20 19:50:27 +0100,2022-09-20 18:59:46 +0100,2022-09-20 19:01:07 +0100,0.170
2,Cigaro,16.0,"<<HKDevice: 0x2838cf520>, name:iPhone, manufac...",ActiveEnergyBurned,kcal,2022-09-20 19:50:27 +0100,2022-09-20 19:15:16 +0100,2022-09-20 19:24:36 +0100,0.212
3,Cigaro,16.0,"<<HKDevice: 0x2838cf520>, name:iPhone, manufac...",ActiveEnergyBurned,kcal,2022-09-20 19:50:27 +0100,2022-09-20 19:25:27 +0100,2022-09-20 19:32:06 +0100,0.119
4,Cigaro,16.0,"<<HKDevice: 0x2838cf520>, name:iPhone, manufac...",ActiveEnergyBurned,kcal,2022-09-20 19:53:49 +0100,2022-09-20 19:42:39 +0100,2022-09-20 19:48:57 +0100,0.108

In [73]:
#converting timezone to WAT
convert_tz = lambda x: x.to_pydatetime().replace(tzinfo=pytz.utc).astimezone(pytz.timezone("Africa/Lagos"))
the_year = lambda x: convert_tz(x).year
the_month = lambda x: '{}-{:02}'.format(convert_tz(x).year, convert_tz(x).month) #inefficient
the_date = lambda x: '{}-{:02}-{:02}'.format(convert_tz(x).year, convert_tz(x).month, convert_tz(x).day) #inefficient
the_day = lambda x: convert_tz(x).day
the_hour = lambda x: convert_tz(x).hour
the_minute = lambda x: convert_tz(x).minute
the_day_of_week = lambda x: convert_tz(x).weekday()

In [74]:
# parsing date and time for each dataset (startDate)
steps["startDate"] = pd.to_datetime(steps["startDate"])
steps["year"] = steps["startDate"].map(the_year)
steps["month"] = steps["startDate"].map(the_month)
steps["date"] = steps["startDate"].map(the_date)
steps["day"] = steps["startDate"].map(the_day)
steps["hour"] = steps["startDate"].map(the_hour)
steps["dow"] = steps["startDate"].map(the_day_of_week)

sleep["startDate"] = pd.to_datetime(sleep["startDate"])
sleep["year"] = sleep["startDate"].map(the_year)
sleep["month"] = sleep["startDate"].map(the_month)
sleep["date"] = sleep["startDate"].map(the_date)
sleep["day"] = sleep["startDate"].map(the_day)
sleep["hour"] = sleep["startDate"].map(the_hour)
sleep["dow"] = sleep["startDate"].map(the_day_of_week)

walking_speed["startDate"] = pd.to_datetime(walking_speed["startDate"])
walking_speed["year"] = walking_speed["startDate"].map(the_year)
walking_speed["month"] = walking_speed["startDate"].map(the_month)
walking_speed["date"] = walking_speed["startDate"].map(the_date)
walking_speed["day"] = walking_speed["startDate"].map(the_day)
walking_speed["hour"] = walking_speed["startDate"].map(the_hour)
walking_speed["dow"] = walking_speed["startDate"].map(the_day_of_week)

energy_burnt["startDate"] = pd.to_datetime(energy_burnt["startDate"])
energy_burnt["year"] = energy_burnt["startDate"].map(the_year)
energy_burnt["month"] = energy_burnt["startDate"].map(the_month)
energy_burnt["date"] = energy_burnt["startDate"].map(the_date)
energy_burnt["day"] = energy_burnt["startDate"].map(the_day)
energy_burnt["hour"] = energy_burnt["startDate"].map(the_hour)
energy_burnt["dow"] = energy_burnt["startDate"].map(the_day_of_week)

dist_walk_run["startDate"] = pd.to_datetime(dist_walk_run["startDate"])
dist_walk_run["year"] = dist_walk_run["startDate"].map(the_year)
dist_walk_run["month"] = dist_walk_run["startDate"].map(the_month)
dist_walk_run["date"] = dist_walk_run["startDate"].map(the_date)
dist_walk_run["day"] = dist_walk_run["startDate"].map(the_day)
dist_walk_run["hour"] = dist_walk_run["startDate"].map(the_hour)
dist_walk_run["dow"] = dist_walk_run["startDate"].map(the_day_of_week)

In [75]:
# parsing date and time for each dataset (endDate)
steps["endDate"] = pd.to_datetime(steps["endDate"])
steps["year2"] = steps["endDate"].map(the_year)
steps["month2"] = steps["endDate"].map(the_month)
steps["date2"] = steps["endDate"].map(the_date)
steps["day2"] = steps["endDate"].map(the_day)
steps["hour2"] = steps["endDate"].map(the_hour)
steps["dow2"] = steps["endDate"].map(the_day_of_week)

sleep["endDate"] = pd.to_datetime(sleep["endDate"])
sleep["year2"] = sleep["endDate"].map(the_year)
sleep["month2"] = sleep["endDate"].map(the_month)
sleep["date2"] = sleep["endDate"].map(the_date)
sleep["day2"] = sleep["endDate"].map(the_day)
sleep["hour2"] = sleep["endDate"].map(the_hour)
sleep["dow2"] = sleep["endDate"].map(the_day_of_week)

walking_speed["endDate"] = pd.to_datetime(walking_speed["endDate"])
walking_speed["year2"] = walking_speed["endDate"].map(the_year)
walking_speed["month2"] = walking_speed["endDate"].map(the_month)
walking_speed["date2"] = walking_speed["endDate"].map(the_date)
walking_speed["day2"] = walking_speed["endDate"].map(the_day)
walking_speed["hour2"] = walking_speed["endDate"].map(the_hour)
walking_speed["dow2"] = walking_speed["endDate"].map(the_day_of_week)

energy_burnt["endDate"] = pd.to_datetime(energy_burnt["endDate"])
energy_burnt["year2"] = energy_burnt["endDate"].map(the_year)
energy_burnt["month2"] = energy_burnt["endDate"].map(the_month)
energy_burnt["date2"] = energy_burnt["endDate"].map(the_date)
energy_burnt["day2"] = energy_burnt["endDate"].map(the_day)
energy_burnt["hour2"] = energy_burnt["endDate"].map(the_hour)
energy_burnt["dow2"] = energy_burnt["endDate"].map(the_day_of_week)

dist_walk_run["endDate"] = pd.to_datetime(dist_walk_run["endDate"])
dist_walk_run["year2"] = dist_walk_run["endDate"].map(the_year)
dist_walk_run["month2"] = dist_walk_run["endDate"].map(the_month)
dist_walk_run["date2"] = dist_walk_run["endDate"].map(the_date)
dist_walk_run["day2"] = dist_walk_run["endDate"].map(the_day)
dist_walk_run["hour2"] = dist_walk_run["endDate"].map(the_hour)
dist_walk_run["dow2"] = dist_walk_run["endDate"].map(the_day_of_week)

In [76]:
#getting my sleep time
sleep["sleep_time"] = sleep["endDate"] - sleep["startDate"]
sleep.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value,year,...,day,hour,dow,year2,month2,date2,day2,hour2,dow2,sleep_time
0,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 03:25:41+01:00,2022-09-21 03:34:43+01:00,HKCategoryValueSleepAnalysisInBed,2022,...,21,4,2,2022,2022-09,2022-09-21,21,4,2,0 days 00:09:02
1,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 03:48:59+01:00,2022-09-21 03:51:04+01:00,HKCategoryValueSleepAnalysisInBed,2022,...,21,4,2,2022,2022-09,2022-09-21,21,4,2,0 days 00:02:05
2,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 03:58:58+01:00,2022-09-21 04:00:26+01:00,HKCategoryValueSleepAnalysisInBed,2022,...,21,4,2,2022,2022-09,2022-09-21,21,5,2,0 days 00:01:28
3,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 04:01:43+01:00,2022-09-21 04:02:05+01:00,HKCategoryValueSleepAnalysisInBed,2022,...,21,5,2,2022,2022-09,2022-09-21,21,5,2,0 days 00:00:22
4,Cigaro,16.0,NaN,SleepAnalysis,NaN,2022-09-21 06:00:07 +0100,2022-09-21 04:06:14+01:00,2022-09-21 04:09:38+01:00,HKCategoryValueSleepAnalysisInBed,2022,...,21,5,2,2022,2022-09,2022-09-21,21,5,2,0 days 00:03:24

In [77]:
#grouping each dataset by date
steps_by_date = steps.groupby("date")["value"].sum().reset_index(name = "steps")
sleep_by_date = sleep.groupby("date")["sleep_time"].sum().reset_index(name = "sleep_time")
walking_speed = walking_speed.groupby("date")["value"].sum().reset_index(name = "walk_km/hr")
energy_burnt = energy_burnt.groupby("date")["value"].sum().reset_index(name = "kcal")
dist_walk_run = dist_walk_run.groupby("date")["value"].sum().reset_index(name = "walk_run_km")

In [78]:
sleep_by_date.head()

         date      sleep_time
0  2022-09-21 0 days 08:21:33
1  2022-09-23 0 days 05:44:02
2  2022-09-24 0 days 05:35:22
3  2022-09-25 0 days 12:42:11
4  2022-09-27 0 days 14:25:08

In [79]:
all_data_2 = pd.concat([steps_by_date, sleep_by_date, walking_speed, energy_burnt, dist_walk_run], ignore_index = True)

In [80]:
steps_by_date.to_csv("steps_by_date.csv", index = False)
sleep_by_date.to_csv("sleep_by_date.csv", index = False)
walking_speed.to_csv("walkspeed_by_date.csv", index = False)
energy_burnt.to_csv("energy_burnt_by_date.csv", index = False)
dist_walk_run.to_csv("walkrun_by_date.csv", index = False)

In [81]:
all_data_2.head()

         date   steps sleep_time  walk_km/hr  kcal  walk_run_km
0  2022-09-20    73.0        NaT         NaN   NaN          NaN
1  2022-09-21   473.0        NaT         NaN   NaN          NaN
2  2022-09-22   778.0        NaT         NaN   NaN          NaN
3  2022-09-23  1012.0        NaT         NaN   NaN          NaN
4  2022-09-24  2609.0        NaT         NaN   NaN          NaN

In [82]:
all_data_2.to_csv("all_data2.csv", index = False)

Visualisation done with [Tableau](https://public.tableau.com/app/profile/judith2899/viz/AppleHealthDataAnalysisDashboard/Dashboard1)